{% extends "base/base_class.html" %}
{% block class_content %}

<div class="container py-5">
  <h2 class="text-center mb-4">📘 Class Info</h2>

  <div class="card p-4">

    <p><strong>Name:</strong> {{ class_info.name }}</p>
    <p><strong>Subject:</strong> {{ class_info.subject }}</p>
    <p><strong>Day:</strong> {{ class_info.day }}</p>
    <p><strong>Start Time:</strong> {{ class_info.start_time.strftime('%H:%M') }}</p>
    <p><strong>Duration:</strong> {{ class_info.duration }} minutes</p>
    <p><strong>Instructor:</strong> {{ class_info.instructor.name }}</p>
    <p><strong>Class Key:</strong> {{ class_info.key }}</p>

    <hr>
    <p><strong>Created at:</strong> {{ to_tbilisi(class_info.created_at).strftime('%Y-%m-%d %H:%M') }}</p>
    <p><strong>Updated at:</strong> {{ to_tbilisi(class_info.updated_at).strftime('%Y-%m-%d %H:%M') }}</p>

    <div class="text-end mt-3">
      <a href="{{ url_for('edit_class', class_id=class_info.id) }}" class="btn btn-warning">✏️ Edit</a>
    </div>
  </div>
</div>

{% endblock %}
