{% extends "base/base_auth.html" %}
{% block auth_content %}

<h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration</h3>

<form method="POST" action="{{ url_for('register') }}">
  {{ form.hidden_tag() }}

  <div class="row">
    <div class="col-md-6 mb-4">
      <div data-mdb-input-init class="form-outline">
        {{ form.name(class="form-control form-control-lg", id="firstName") }}
        {{ form.name.label(class="form-label", for="firstName") }}
        {% if form.name.errors %}
          <div class="text-danger">{{ form.name.errors[0] }}</div>
        {% endif %}
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div data-mdb-input-init class="form-outline">
        {{ form.lastname(class="form-control form-control-lg", id="lastName") }}
        {{ form.lastname.label(class="form-label", for="lastName") }}
        {% if form.lastname.errors %}
          <div class="text-danger">{{ form.lastname.errors[0] }}</div>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-4 d-flex align-items-center">
      <div data-mdb-input-init class="form-outline">
        {{ form.phonenumber(class="form-control form-control-lg", id="phoneNumber", placeholder="(+995)", inputmode="numeric") }}
        {{ form.phonenumber.label(class="form-label", for="phoneNumber") }}
        {% if form.phonenumber.errors %}
          <div class="text-danger">{{ form.phonenumber.errors[0] }}</div>
        {% endif %}
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <h6 class="mb-2 pb-1">Gender:</h6>
      {% for subfield in form.gender %}
        <div class="form-check form-check-inline">
          {{ subfield(class="form-check-input", id=subfield.id) }}
          <label class="form-check-label" for="{{ subfield.id }}">{{ subfield.label.text }}</label>
        </div>
      {% endfor %}
      {% if form.gender.errors %}
        <div class="text-danger">{{ form.gender.errors[0] }}</div>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-4 pb-2">
      <div data-mdb-input-init class="form-outline">
        {{ form.email(class="form-control form-control-lg", id="emailAddress") }}
        {{ form.email.label(class="form-label", for="emailAddress") }}
        {% if form.email.errors %}
          <div class="text-danger">{{ form.email.errors[0] }}</div>
        {% endif %}
      </div>
    </div>

    <div class="col-md-6 mb-4 pb-2">
      <div data-mdb-input-init class="form-outline">
        {{ form.password(class="form-control form-control-lg", id="password") }}
        {{ form.password.label(class="form-label", for="password") }}
        {% if form.password.errors %}
          <div class="text-danger">{{ form.password.errors[0] }}</div>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="row">
  <div class="col-12">
    <div data-mdb-input-init class="form-outline">
      {{ form.role(class="form-select form-control-lg") }}
      {{ form.role.label(class="form-label") }}
      {% if form.role.errors %}
        <div class="text-danger">{{ form.role.errors[0] }}</div>
      {% endif %}
    </div>
  </div>
</div>


  <div class="mt-4 pt-2">
    {{ form.submit(class="btn btn-outline-light btn-lg") }}
  </div>
</form>

{% endblock %}
